img{
    padding-top: 5vh;
    width: 100%;
    max-width: 600px;
}
.custom{
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-content {
    --ion-background-color: var(--ion-color-blue-pepper);
}
ion-content.ion-color-dark {
    --ion-background-color: var(--ion-color-dark);
}