ion-content {
  --ion-background-color: var(--ion-color-blue-pepper);
}
ion-content.ion-color-dark {
  --ion-background-color: var(--ion-color-dark);
}
ion-button {
  &.ion-color-custom {
    --ion-color-base: var(--ion-color-gray-pepper);
  }
}
ion-button.ion-color-dark {
  &.ion-color-custom {
    --ion-color-base: var(--ion-color-gray-pepper);
  }
}
.barra {
  --ion-background-color: var(--ion-color-barra);
  --ion-color-contrast: #ffffff; 
}
ion-toolbar.ion-color-dark.barra {
  --ion-background-color: var(--ion-color-barra);
  --ion-color-contrast: #ffffff;
}
img{
    padding-top: 5vh;
    width: 100%;
    max-width: 700px;
}
ion-grid {
    --ion-grid-width: 50%;
    --ion-grid-width-xs: 50%;
    --ion-grid-width-sm: 288px;
    --ion-grid-width-md: 384px;
    --ion-grid-width-lg: 480px;
    --ion-grid-width-xl: 570px;
}
  
ion-modal {
  --height: auto;
}
.custom-button {
  display: block;
  width: 100%;

}
.counter__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
